# node
/node_modules

# astro
/.astro
/dist

# tests & debug
/.playwright-mcp
/coverage
/test-results
/playwright-report

# cloudflare
/.wrangler
.env
.env.production
.dev.vars

# nix
/.direnv
/.pre-commit-config.yaml
